<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

  <style>
    #list1 .form-control {
        border-color: transparent;
      }
      #list1 .form-control:focus {
        border-color: transparent;
        box-shadow: none;
      }
      #list1 .select-input.form-control[readonly]:not([disabled]) {
        background-color: #139fb8;
      }
      body{
        background-color: #52c5da;

      }
  </style>
 

</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                <div class="card-body py-4 px-4 px-md-5">
                  <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                    <i class="fas fa-check-square me-1"></i>
                    <a href="{% url 'listSchedule' %}"><button type="submit" class="btn btn-outline-danger ">Cancel</button></a>
                    <u>Create A Schedule</u>
                  </p>
                  <div class="pb-2">
                    <div class="card">
                      <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" action="" class="d-flex flex-row align-items-center">
                            {% csrf_token %}
                          {{form}}
                          <div>
                            <button type="submit" class="btn btn-success ">Create</button>
                          </div>
                        </form>
                        
                      </div>
                    </div>
                  </div>
                  <hr class="my-4">  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>